body, html {
    padding: 0;
    margin: 0;
}
h1 {
    color: whitesmoke;
    font-weight: normal;
    font-family: Arial;
    opacity: 0.9;
}
ul, li, a {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: black;
    text-decoration: none;
    
}

#container {
    
    height: 729px;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: rgb(0, 0, 0);
}
#navegacao {
    /*background-image: url(back-nav.png);*/
    background-color: rgb(26, 25, 42);
    background-size: contain;
    background-position: center;
    border-right: 4px solid rgb(92, 72, 105);
    height: 100%;
    width: 250px;
 

}
#titulo-nav {
    background-image: url(pycode.jpg);
    background-color: rgb(18, 17, 31);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 60px;
}
#container-nav {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(92, 72, 105);
    
}
.botoes-navegacao {
    margin-right: 20px;
    font-family: Arial;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 267px;
    height: 25px;
    
  
    
}
#botao-conteudos, #botao-exercicios,  #titulo {
    font-size: 25px;
    /*font-weight: bold;*/
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgb(187, 187, 187);
}
/*#titulo {
    font-size: 30px;
    font-weight: bold;
    color: rgba(63, 14, 209, 0.796);
    
}*/
#subtitulo {
    font-family: Arial;
    font-size: 17px;
    margin-top: 7px;
    margin-bottom: 7px;
    color: rgb(98, 107, 167);
}
#conteudo-visual {
    display: block;
    align-items: center;
    max-height: 729;
    overflow-y: auto;
    width: 100%;
   background-color: rgb(26, 25, 42);
   flex-direction: column;
}
#cabecalho {
    display: block;
    justify-content: center;
    height: 100px;
    width: 100%;
    text-align: center;
}
p {
    color: white;
    font-family: Arial;
    opacity: 0.8;
}
pre code.python {
    font-family: 'Courier New', monospace;
    height: 280px;
    width: 800px;
    background-color: #24242a;
    color: #a8a8a2;
    padding: 10px; 
    border-radius: 5px; 
    overflow-x: auto; 
}